.advantages__tagline-wrapper {
  padding: 32px 20px 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 47px 124px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 30px 44px;
  }
}

.advantages__tagline {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.23;
  }
}

.advantages__tagline-text {
  font-weight: 400;
  color: $black-lighter;
  text-transform: uppercase;
  margin: 0;
}

.advantages__list {
  background-color: $grey-light;
  text-align: center;
  counter-reset: list 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

}

.advantages__item {
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    width: 33.3%;
  }

  &--blue {
    background-color: $blue;
    color: #ffffff;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

  }

  &::before {
    counter-increment: list 1;
    content: "-№" counter(list) "-";
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
  }


  &--grey-theme:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #d6d6d6;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.advantages__item-wrapper {
  padding: 24px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 42px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 50px 60px;
  }

  &--with-img {
    padding-top: 54px;
    background-image: url("../img/index/advantages/white-img.svg");
    background-position: top;
    background-size: auto, cover;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: none;
      width: 33.3%;
      padding: 42px 32px;
    }

    @media ($desktop-width) {
      padding: 48px 60px;
    }
    }
  }

.advantages__item-picture {
  @media (min-width: $tablet-width) {
    width: 63%;
  }
}


.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 0 49px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.23;
  }
}

.advantages__description {
  text-transform: uppercase;
  margin: 0;
}


.advantages__sublist {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
  padding: 30px 0 52px;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;

  }
}

.advantages__sublist-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
  }
}

