.advantages {
  text-align: center;
  padding: 35px 0 0;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 48px 0 0;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 0;
  }
}

.advantages__tagline {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 0 34px;
  padding: 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.23;
    padding: 0 10px;
    margin: 0 0 30px;
  }
}

.advantages__tagline-text {
  font-weight: 400;
  color: $black-lighter;
  text-transform: uppercase;
  margin: 0;
  padding: 0 9px 10px;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 44px;
    padding: 0;
  }
}

.advantages__list {
  background-color: $grey-light;
  text-align: center;
  counter-reset: list 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    width: 33.3%;
  }

  &--accent {
    background-color: $blue;
    color: #ffffff;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &--grey-theme:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 6%;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #d6d6d6;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.advantages__item-wrapper {
  padding: 24px 20px 37px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &--space {
    margin: -10px 0 0;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &::before {
    counter-increment: list 1;
    content: "-№" counter(list) "-";
    order: 1;
    margin: 0 0 17px;
  }

  @media (min-width: $tablet-width) {
    padding: 42px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 50px 32px;
  }

  &--with-img {
    padding-top: 75px;
    background-image: url("../img/index/advantages/white-triangle.svg");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: none;
      width: 33.3%;
      padding: 42px 32px 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 48px 30px;
    }
  }

  &--without-img {
    background-image: none;
    padding: 36px 10px 34px;

    @media (min-width: $tablet-width) {
      order: 1;
      padding: 52px 10px 34px;
    }
  }

  &--accent {
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.advantages__image-wrapper {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 66.66%;
    order: 0;
  }
}

.advantages__img {
  max-width: 100%;
  display: block;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 0 14px;
  order: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 1.23;
    margin: 0 0 16px;
  }
}

.advantages__description {
  text-transform: uppercase;
  margin: 0;
  order: 2;

  @media (min-width: $desktop-width) {
    padding: 0 17px 10px;
  }
}

.advantages__sublist {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
  padding: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
  }
}

.advantages__sublist-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 0 17px;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    margin: 0 0 23px;
  }
}
