.footer__wrapper {
  padding: 28px 20px 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px 36px 104px;
  }
}

.footer__social-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  width: 166px;
  color: $black;
}

.footer__social-list {
  margin: 33px 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__copyright-img {
  fill: $black;
  margin-left: 10px;
}

.footer__copyright-link {
  display: flex;
  line-height: 1.5;
  align-items: center;
  color: $black;
  text-transform: uppercase;

  &:hover {
    color: $blue;

    & .footer__copyright-img {
      fill: $blue;
    }
  }

  &:active {
    color: $grey-active;

    & .footer__copyright-img {
      fill: $grey-active;
    }
  }
}
