.footer {
  padding: 42px 20px 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 20px;
    justify-content: center;
    align-items: center;

    padding: 36px 53px 36px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px 36px 104px;
  }
}

.footer__social-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  width: 166px;
  color: $black;
}

.footer__social-list {
  margin: 33px 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__copyright-img {
  fill: $black;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    width: 37px;
    height: auto;
    margin-left: 6px;
  }
}

.footer__copyright-link {
  display: flex;
  line-height: 1.5;
  align-items: center;
  color: $black;
  text-transform: uppercase;
  justify-content: center;


  &:hover {
    color: $blue;

    & .footer__copyright-img {
      fill: $blue;
    }
  }

  &:active {
    color: $grey-active;

    & .footer__copyright-img {
      fill: $grey-active;
    }
  }
}
