.header {
  background-color: $white;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    padding: 0 23px 0 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 2px 0 44px;
  }
}
