.link {
  text-decoration: none;

  &:focus {
    outline: 1px solid $black;
    border-right: 2px;
  }

  &--blue {
    &:hover {
      background-color: $blue-hover;

      @media (min-width: $tablet-width) {
        background-color: transparent;
        color: $blue;
      }
    }

    &:active {
      background-color: $blue-active;
      color: $grey-dark;

      @media (min-width: $tablet-width) {
        background-color: transparent;
        color: $grey-active;
      }
    }

    &:disabled {
      background-color: $grey;
    }
  }

  &--link-social {
    &:hover {
      @media (min-width: $tablet-width) {
        background-color: $blue-hover;
      }
    }

    &:active {
      @media (min-width: $tablet-width) {
        background-color: $blue-active;
        color: $grey-dark;
      }
    }
  }
}
