.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 6px;
}


.social__item {
  width: 48px;
  height: 48px;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  border: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $blue-hover;

    @media (min-width: $tablet-width) {
      @include colors($blue-hover);
    }
  }

  &:active {
    background-color: $blue-active;

    @media (min-width: $tablet-width) {
      @include colors($blue-active);
    }

    .social__img {
      fill: $white-active;
    }
  }
}

.social__img {
  fill: $white;
}
