.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.social__item {
  width: 48px;
  height: 48px;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  border: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $blue-hover;

    @media ($tablet-width) {
      @include colors($blue-hover);
    }
  }

  &:active {
    background-color: $blue-active;

    @media ($tablet-width) {
      @include colors($blue-active);
    }

    .social__img {
      color: $white-active;
    }
  }
}

.social__img {
  color: $white;
}
