.sublist-item {
  padding: 31px 12px 0 65px;
  background-repeat: no-repeat;
  background-position: top 25px left 18px;
  background-size: 39px 37px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    min-height: 330px;
    padding: 0;
    background-position: top 23% left 50%;
    background-size: 75px 72px;
  }

  &:last-child {
    padding-bottom: 52px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  &--house {
    background-image: url("../img/index/advantages/house-picture.svg");
  }

  &--burger {
    background-image: url("../img/index/advantages/burger-picture.svg");
  }

  &--souvenirs {
    background-image: url("../img/index/advantages/souvenirs-picture.svg");
  }
}
