.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $desktop-width;
  background-color: $white;

  @media (min-width: $desktop-width) {
    box-shadow: 0 0 15px $grey;
  }
}

.wrapper iframe {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 361px;

  @media (max-width: $tablet-width) {
    min-height: 351px;
  }
}
