.advantages__item {
  margin: 0;
  padding: 0;
  position: relative;

  &--blue {
    background-color: #81B3D2;
    color: #ffffff;
  }

  &:before {
    counter-increment: list 1;
    content: "-№" counter(list) "-";
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
  }
  &--grey-theme:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #D6D6D6;
  }
  /*&:not(:last-child):not(:first-child) {
    border-bottom: 1px solid #D6D6D6;
  }*/
}




