$white: #ffffff;
$white-active: rgba(255, 255, 255, 0.3);
$blue: #81B3D2;
$blue-hover: #669EC0;
$blue-active: #5496BD;
$black: #000000;
$black-lighter: #333333;
$grey-light: #eeeeee;
$grey: #E5E5E5;
$grey-active: #B3B3B3;
$grey-darker: #F2F2F2;
$grey-dark: rgba(0, 0, 0, 0.3);
