.footer__copyright-link {
  display: flex;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  &:hover {
    color: #81B3D2;

    & .footer__copyright-img {
      fill: #81B3D2;
    }
  }
  &:active {
    color: #B3B3B3;

    & .footer__copyright-img {
      fill: #B3B3B3;
    }
  }
}
