.footer__social-search {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  width: 166px;
  margin: 0 auto 33px;
  color: #000000;
}
